/* General Styles */
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";

.firstinfo,
.badgescard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}





.card {
  width: 450px;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.card:after {
  content: "";
  display: block;
  width: 190px;
  height: 300px;
  background: cadetblue;
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.badgescard {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: rgba(160, 214, 216, 0.711);
  width: 450px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: -1;
  display: flex;
  gap: 20px;
  left: 10px;
  bottom: 10px;
  animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s
    forwards;
}

.badgescard span {
  font-size: 1.6em;
  margin: 0px 6px;
  opacity: 0.6;
}

.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}

.firstinfo img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  box-shadow: -7px 9px 13px 14px cadetblue;
}

.firstinfo .profileinfo {
  padding: 0px 20px;
}

.firstinfo .profileinfo h1 {
  font-size: 1.8em;
}

.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: #009688;
  font-style: italic;
}

.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5a5a5a;
  line-height: 1.2;
  font-style: initial;
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }

  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes animainfos {
  0% {
    bottom: 10px;
  }

  100% {
    bottom: -42px;
  }
}

@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }

  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .card {
    width: 300px;
    padding: 15px;
  }

  .badgescard {
    width: 280px;
    gap: 10px;
  }

  .firstinfo img {
    width: 60px;
    height: 60px;
  }

  .firstinfo .profileinfo h1 {
    font-size: 1.3em;
  }

  .firstinfo .profileinfo h3 {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 10px;
  }

  .badgescard {
    align-items: center;
  }

  .firstinfo img {
    width: 50px;
    height: 50px;
  }

  .firstinfo .profileinfo {
    padding: 5px 0;
  }

  .firstinfo .profileinfo h1 {
    font-size: 1.2em;
  }

  .firstinfo .profileinfo h3 {
    font-size: 0.9em;
  }
}
.main_card_div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  padding: 30px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card_collection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}



.card-titles h1::after {
  content: "Ours Patrons";
  top: 25px;
  color: #232323a9;
  left: -113px;
  font-size: xxx-large;
  position: relative;
  z-index: -1;
}
.card-titles{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.card-titles h3{
  color: #232323;
  margin: 20px;

}