.Alert-News {
    background-color: rgb(245, 243, 243);
    color: #b8314c;
    padding: 0px 15px;
    border-radius: 5px;
    /* font-weight: bold; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    z-index: 9999999;
  }
  
  .Alert-News marquee {
    font-family: 'Arial', sans-serif;
    font-size: clamp(8px, 1vw, 10px); /* Responsive font size */
    line-height: 1.5;
    white-space: nowrap;
  }
  
  .Alert-News marquee h3 {
    margin: 0;
    padding: 5px 0;
    display: inline-block;
  }
  
  .Alert-News:hover {
    background-color: #fceaee;
    cursor: pointer;
  }

  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .Alert-News {
      padding: 8px 10px;
    }
    .Alert-News marquee {
      font-size: clamp(10px, 3vw, 14px);
    }
  }