.contestquize-container {
    width: 500px;  /* Reduced width */
    height: 570px; /* Reduced height */
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 8rem;
    background: rgb(255, 253, 253);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 15px; /* Reduced gap */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Added shadow */
    padding: 30px 40px; /* Reduced padding */
}

.contest-quiz-heading
{
    color: cadetblue;
}

.contestquize-container hr {
    background: #707070;
}

.contestquize-container h2 {
    font-size: 24px; /* Reduced font size */
    font-weight: 600;
}

.contestquize-container ul li {
    display: flex;
    align-items: center;
    height: 60px; /* Reduced height */
    padding-left: 12px; /* Reduced padding */
    border: solid grey;
    border-radius: 15px; /* Slightly smaller border radius */
    margin-bottom: 15px; /* Reduced margin */
    font-size: 18px; /* Reduced font size */
    cursor: pointer;
}

.contestquize-container .contestquiz-btn {
    margin: 10px 5px 4px 186px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Reduced height */
    width: 130px; /* Reduced width */
    background: cadetblue;
    border-radius: 10px;
}

.contestquiz-btn:hover {
    background: rgb(129, 230, 179);
    cursor: pointer;
}

.contestquize-container .contestquize-index {
    display: flex;
    justify-content: center;
    font-size: 16px; /* Reduced font size */
    color: rgb(41, 89, 100);
}

.contestquize-correct {
    /* background: rgb(21, 216, 122);
    border-color: green; */
    background: rgb(130 190 194);
    border-color: rgb(130 190 194);
}

.contestquize-wrong {
    /* background: rgb(195, 81, 81);
    border-color: red; */
    background: rgb(130 190 194);
    border-color: rgb(130 190 194);
}

#contestquize-score {
    font-size: 50px; /* Reduced font size */
    color: rgb(250, 0, 0);
}

.contestquize-selected {
    background: rgba(255, 255, 153, 0.4); /* Pale Yellow */
    border-color: #FFD700; /* Gold */
}



